:root {
    font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: "Inter var", sans-serif;
    }
}

#navmain {
    /* Barra de Navegação */

    position: absolute;
    width: 100%;
    height: 5.208vw;
    left: 0vw;
    top: 0vw;

    background: #2e3038;
}

#retlogo {
    /* Retângulo Logo */

    position: absolute;
    width: 22.76vw;
    height: 5.208vw;
    left: 4.583vw;
    top: 0vw;

    background: #b1b4be;
}

#imglogo {
    /* Logo */

    box-sizing: border-box;

    position: absolute;
    width: 20.703vw;
    height: 2.604vw;
    left: 0.99vw;
    top: 1.302vw;

    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

#comousar {
    /* Botão como usar */

    position: absolute;
    width: 8.333vw;
    height: 1.875vw;
    left: 32.76vw;
    top: 1.667vw;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 1.562vw;
    line-height: 1.875vw;
    text-decoration: none;

    color: #ffffff;
}

#ptransporte {
    /* Pontos de transporte */

    position: absolute;
    width: 16.181vw;
    height: 1.875vw;
    left: 50.938vw;
    top: 1.667vw;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 1.562vw;
    line-height: 1.875vw;
    text-decoration: none;

    color: #ffffff;
}

.divvertical {
    /* Divisórias verticais */

    position: absolute;
    width: 0.052vw;
    height: 3.177vw;

    background: #d9d9d9;
}

#divcomousar {
    /* Divisória Como Usar */

    left: 46.458vw;
    top: 1.042vw;
}

#divptransporte {
    /* Divisória 2 */

    left: 71.667vw;
    top: 1.042vw;
}

#dov {
    /* RENACARD_logo (1) 2 */

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    top: 450px;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
#imglogocentral{
    position: absolute;
    display: block;
    top: 30px;
    right: 940px;

}

#caixatexto{
    position: relative;
    top: 200px;
    right: 190px;
  
}
#botao-lupa{
    position: relative;
    background: #000000;
}
.input{
    /* Barra de pesquisa*/
    width: 750px;
    height: 60px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-top-right-radius: 45px;
    margin-top: -18.5px;
    display: table;
    float: left;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    margin-left: 405px;
    border: 0 none;
    outline: 0;
    background-color: #D9D9D9;
    box-shadow: #D9D9D9;
}
::placeholder{
    /* Cor do texto do input*/
    color: #B1B1B1;
}

.btnbuscar {
    margin-top: -16px;
    margin-left: -65px;
    width: 64px;
    height: 55px;
    background-color: rgb(0, 0, 0);
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-top-left-radius: 45px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 0px;
}
#imglupa {
    /* Lupa */
    box-sizing: border-box;
    position: relative;
    width: 30.75px;
    height: 25.75px;
    left: 3.70px;
    background-color: #000000;
    padding: 1px;
    border: 2.25px solid #000000;
}
footer {
    /* Retângulo rodapé */

    position: absolute;
    width: 100%;
    height: 19.236vw;
    left: 0vw;
    top: 51.875vw;

    background: #2e3038;
}

#project {
    /* Projeto Integrador 2 */

    position: absolute;
    width: 27.361vw;
    height: 1.875vw;
    left: 4.583vw;
    top: 4.653vw;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 1.562vw;
    line-height: 1.875vw;

    color: #ffffff;
}

#members {
    /* Integrantes do grupo */

    position: absolute;
    width: 28.542vw;
    height: 9.375vw;
    left: 66.736vw;
    top: 4.653vw;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 1.562vw;
    line-height: 1.875vw;
    text-align: right;

    color: #ffffff;
}
