:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

#navmain {
  /* Barra de Navegação */

  position: absolute;
  width: 1440px;
  height: 75px;
  left: 0px;
  top: 0px;

  background: #2e3038;
}

#retlogo {
  /* Retângulo Logo */

  position: absolute;
  width: 327.75px;
  height: 75px;
  left: 66px;
  top: 0px;

  background: #b1b4be;
}

#imglogo {
  /* Logo */

  box-sizing: border-box;

  position: absolute;
  width: 298.12px;
  height: 37.5px;
  left: 14.25px;
  top: 18.75px;

  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

#comousar {
  /* Botão como usar */

  position: absolute;
  width: 120px;
  height: 27px;
  left: 471.75px;
  top: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 27px;
  text-decoration: none;

  color: #ffffff;
}

#ptransporte {
  /* Pontos de transporte */

  position: absolute;
  width: 233px;
  height: 27px;
  left: 733.5px;
  top: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 27px;
  text-decoration: none;

  color: #ffffff;
}

.divvertical {
  /* Divisórias verticais */

  position: absolute;
  width: 0.75px;
  height: 45.75px;

  background: #d9d9d9;
}

#divcomousar {
  /* Divisória Como Usar */

  left: 669px;
  top: 15px;
}

#divptransporte {
  /* Divisória 2 */

  left: 1032px;
  top: 15px;
}

#terms {
  /* Termos de uso */

  position: absolute;
  left: 180px;
  top: 138.75px;
}

#accept {
  /* Quadrado de aceite */

  position: absolute;
  width: 31.5px;
  height: 31.5px;
  left: 180px;
  top: 641.25px;

  background: #d9d9d9;
  border: 0.75px solid #000000;
}

#textaccept {
  /* Texto de aceite */

  position: absolute;
  width: 213px;
  height: 22px;
  left: 220.75px;
  top: 649.5px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identico ao box height */

  color: #2e3038;
}

#retgerar {
  /* Retângulo do botão gerar bilhete urbano */

  position: absolute;
  width: 271.5px;
  height: 31.5px;
  left: 883.5px;
  top: 641.25px;

  background: #2659c1;
  border-radius: 15px;
}

#gerar {
  /* Botão gerar bilhete urbano */

  position: absolute;
  width: 182px;
  height: 22px;
  left: 44.75px;
  top: 4.75px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  /* identico ao box height */

  color: #ffffff;
}

footer {
  /* Retângulo rodapé */

  position: absolute;
  width: 1440px;
  height: 277px;
  left: 0px;
  top: 747px;

  background: #2e3038;
}

#project {
  /* Projeto Integrador 2 */

  position: absolute;
  width: 394px;
  height: 27px;
  left: 66px;
  top: 67px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 27px;

  color: #ffffff;
}

#members {
  /* Integrantes do grupo */

  position: absolute;
  width: 411px;
  height: 135px;
  left: 961px;
  top: 67px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 27px;
  text-align: right;

  color: #ffffff;
}
