:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

#navmain {
  /* Barra de Navegação */

  position: absolute;
  width: 1440px;
  height: 75px;
  left: 0px;
  top: 0px;

  background: #2e3038;
}

#retlogo {
  /* Retângulo Logo */

  position: absolute;
  width: 327.75px;
  height: 75px;
  left: 66px;
  top: 0px;

  background: #b1b4be;
}

#imglogo {
  /* Logo */

  box-sizing: border-box;

  position: absolute;
  width: 298.12px;
  height: 37.5px;
  left: 14.25px;
  top: 18.75px;

  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

#comousar {
  /* Botão como usar */

  position: absolute;
  width: 120px;
  height: 27px;
  left: 471.75px;
  top: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 27px;
  text-decoration: none;

  color: #ffffff;
}

#ptransporte {
  /* Pontos de transporte */

  position: absolute;
  width: 233px;
  height: 27px;
  left: 733.5px;
  top: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 27px;
  text-decoration: none;

  color: #ffffff;
}

.divvertical {
  /* Divisórias verticais */

  position: absolute;
  width: 0.75px;
  height: 45.75px;

  background: #d9d9d9;
}

#divcomousar {
  /* Divisória Como Usar */

  left: 669px;
  top: 15px;
}

#divptransporte {
  /* Divisória 2 */

  left: 1032px;
  top: 15px;
}

#headermain {
  /* Header recarga do bilhete urbano */

  position: absolute;
  width: 350px;
  height: 33px;
  left: 268.5px;
  top: 127.5px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;
  /* identico ao box height */

  color: #000000;
}

#retautenticar {
  /* Retângulo autenticar */

  position: absolute;
  width: 172.5px;
  height: 43.5px;
  left: 1149.75px;
  top: 117.75px;

  background: #787e92;
  border-radius: 27px;
}

#autenticar {
  /* Botão autenticar */

  position: absolute;
  width: 118px;
  height: 27px;
  left: 30px;
  top: 8.25px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 27px;
  text-decoration: none;

  color: #ffffff;
}

.divhorizontal {
  /* Divisórias horizontais */

  position: absolute;
  width: 950.25px;
  height: 0px;
}

#divrecarga {
  /* Divisória recarga do bilhete - tipos de recarga */

  left: 238.5px;
  top: 175.88px;

  border: 0.75px solid #000000;
}

.imgrecarga {
  /* Imagens dos tipos de recarga */

  box-sizing: border-box;

  position: absolute;
  width: 238.5px;
  height: 148.5px;

  border-radius: 15px;
}

#imgunico {
  /* Imagem da recarga unico */

  left: 180px;
  top: 221.25px;
}

#imgduplo {
  /* Imagem da recarga duplo */

  left: 726px;
  top: 221.25px;
}

#imgsete {
  /* Imagem da recarga sete dias */

  left: 180px;
  top: 429px;
}

#imgtrinta {
  /* Imagem da recarga trinta dias */

  left: 726px;
  top: 429px;
}

.titlerecarga {
  /* Titulos dos tipos de recargas */

  position: absolute;
  height: 24px;

  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-size: 19.5px;
  line-height: 24px;

  color: #000000;
}

#titleunico {
  /* Título da recarga unico */

  width: 125px;
  left: 431px;
  top: 226px;
}

#titleduplo {
  /* Título da recarga duplo */

  width: 126px;
  left: 981px;
  top: 226px;
}

#titlesete {
  /* Título da recarga sete dias */

  width: 128px;
  left: 431px;
  top: 433.5px;
}

#titletrinta {
  /* Título da recarga trinta dias */

  width: 142px;
  left: 981px;
  top: 433.5px;
}

.subtitlerecarga {
  /* Sub-títulos dos tipos de recargas */

  position: absolute;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13.5px;
  line-height: 16px;

  color: #000000;
}

#subtitleunico1 {
  /* Preço da recarga unico */

  width: 100px;
  height: 16px;
  left: 431px;
  top: 253.5px;
}

#subtitleduplo1 {
  /* Preço da recarga duplo */

  width: 100px;
  height: 16px;
  left: 981px;
  top: 253.5px;
}

#subtitlesete1 {
  /* Preço da recarga sete dias */

  width: 100px;
  height: 16px;
  left: 431px;
  top: 461.25px;
}

#subtitletrinta1 {
  /* Preço da recarga trinta dias */

  width: 100px;
  height: 16px;
  left: 981px;
  top: 461.25px;
}

#subtitleunico2 {
  /* Explicação da recarga unico */

  width: 277.5px;
  height: 32px;
  left: 431px;
  top: 289px;
}

#subtitleduplo2 {
  /* Explicação da recarga duplo */

  width: 277.5px;
  height: 32px;
  left: 981px;
  top: 289px;
}

#subtitlesete2 {
  /* Explicação da recarga sete dias */

  width: 277.5px;
  height: 32px;
  left: 431px;
  top: 496.5px;
}

#subtitletrinta2 {
  /* Explicação da recarga trinta dias */

  width: 277.5px;
  height: 32px;
  left: 981px;
  top: 496.5px;
}

#referencia {
  /* Referência para como usar */

  position: absolute;
  width: 479px;
  height: 15px;
  left: 268.5px;
  top: 622.5px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: 15px;
  /* identico ao box height */

  color: #000000;
}

#divgerar {
  /* Divisória tipos de recarga - gerar bilhete */

  left: 230.25px;
  top: 644.25px;

  border: 0.75px solid #000000;
}

.retbottom {
  /* Retângulo para os botões na parte de baixo da página */

  position: absolute;
  width: 251.25px;
  height: 56.25px;
  top: 667.5px;

  background: #787e92;
  border-radius: 28.875px;
}

#retgerar {
  /* Retângulo para o botão gerar bilhete */

  left: 349.5px;
}

#retrelatorio {
  /* Retângulo para o botão relatório */

  left: 832.5px;
}

.buttonbottom {
  /* Botões na parte de baixo da página */

  position: absolute;
  height: 27px;
  top: 14.25px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 27px;
  text-decoration: none;

  color: #ffffff;
}

#gerar {
  /* Botão gerar bilhete */

  width: 144px;
  left: 54px;
}

#relatorio {
  /* Botão relatorio */

  width: 99px;
  left: 79.5px;
}

footer {
  /* Retângulo rodapé */

  position: absolute;
  width: 1440px;
  height: 277px;
  left: 0px;
  top: 747px;

  background: #2e3038;
}

#project {
  /* Projeto Integrador 2 */

  position: absolute;
  width: 394px;
  height: 27px;
  left: 66px;
  top: 67px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 27px;

  color: #ffffff;
}

#members {
  /* Integrantes do grupo */

  position: absolute;
  width: 411px;
  height: 135px;
  left: 961px;
  top: 67px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 27px;
  text-align: right;

  color: #ffffff;
}
