:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

#navmain {
  /* Barra de Navegação */

  position: absolute;
  width: 100%;
  height: 5.208vw;
  left: 0vw;
  top: 0vw;

  background: #2e3038;
}

#retlogo {
  /* Retângulo Logo */

  position: absolute;
  width: 22.76vw;
  height: 5.208vw;
  left: 4.583vw;
  top: 0vw;

  background: #b1b4be;
}

#imglogo {
  /* Logo */

  box-sizing: border-box;

  position: absolute;
  width: 20.703vw;
  height: 2.604vw;
  left: 0.99vw;
  top: 1.302vw;

  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

#comousar {
  /* Botão como usar */

  position: absolute;
  width: 8.333vw;
  height: 1.875vw;
  left: 32.76vw;
  top: 1.667vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.562vw;
  line-height: 1.875vw;
  text-decoration: none;

  color: #ffffff;
}

.divvertical {
  /* Divisórias verticais */

  position: absolute;
  width: 0.052vw;
  height: 3.177vw;

  background: #d9d9d9;
}

#divcomousar {
  /* Divisória Como Usar */

  left: 46.458vw;
  top: 1.042vw;
}

#headermain {
  /* Header recarga do bilhete urbano */

  position: absolute;
  width: 24.306vw;
  height: 2.292vw;
  left: 18.646vw;
  top: 8.854vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.875vw;
  line-height: 2.292vw;
  /* identico ao box height */

  color: #000000;
}

#retgerar {
  /* Retângulo gerar bilhete */

  position: absolute;
  width: 11.979vw;
  height: 3.021vw;
  left: 79.844vw;
  top: 8.177vw;

  background: #787e92;
  border-radius: 1.875vw;
}

#gerar {
  /* Botão gerar bilhete */

  position: absolute;
  width: 8.194vw;
  height: 1.875vw;
  left: 2.083vw;
  top: 0.573vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.262vw;
  line-height: 1.875vw;
  text-decoration: none;

  color: #ffffff;
}

.divhorizontal {
  /* Divisórias horizontais */

  position: absolute;
  width: 65.99vw;
  height: 0vw;
}

#divrecarga {
  /* Divisória recarga do bilhete - tipos de recarga */

  left: 16.562vw;
  top: 12.214vw;

  border: 0.75px solid #000000;
}

.imgrecarga {
  /* Imagens dos tipos de recarga */

  position: absolute;
  width: 16.562vw;
  height: 10.312vw;

  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

#imgunico {
  /* Imagem da recarga unico */

  left: 12.5vw;
  top: 15.365vw;
}

#imgduplo {
  /* Imagem da recarga duplo */

  left: 50.417vw;
  top: 15.365vw;
}

#imgsete {
  /* Imagem da recarga sete dias */

  left: 12.5vw;
  top: 29.792vw;
}

#imgtrinta {
  /* Imagem da recarga trinta dias */

  left: 50.417vw;
  top: 29.792vw;
}

.titlerecarga {
  /* Titulos dos tipos de recargas */

  position: absolute;
  height: 1.667vw;

  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-size: 1.354vw;
  line-height: 1.667vw;

  color: #000000;
}

#titleunico {
  /* Título da recarga unico */

  width: 8.681vw;
  left: 29.931vw;
  top: 15.694vw;
}

#titleduplo {
  /* Título da recarga duplo */

  width: 8.75vw;
  left: 68.125vw;
  top: 15.694vw;
}

#titlesete {
  /* Título da recarga sete dias */

  width: 8.889vw;
  left: 29.931vw;
  top: 30.104vw;
}

#titletrinta {
  /* Título da recarga trinta dias */

  width: 9.861vw;
  left: 68.125vw;
  top: 30.104vw;
}

.subtitlerecarga {
  /* Sub-títulos dos tipos de recargas */

  position: absolute;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.938vw;
  line-height: 1.111vw;

  color: #000000;
}

#subtitleunico1 {
  /* Preço da recarga unico */

  height: 1.111vw;
  left: 29.931vw;
  top: 17.604vw;
}

#subtitleduplo1 {
  /* Preço da recarga duplo */

  height: 1.111vw;
  left: 68.125vw;
  top: 17.604vw;
}

#subtitlesete1 {
  /* Preço da recarga sete dias */

  height: 1.111vw;
  left: 29.931vw;
  top: 32.031vw;
}

#subtitletrinta1 {
  /* Preço da recarga trinta dias */

  height: 1.111vw;
  left: 68.125vw;
  top: 32.031vw;
}

#subtitleunico2 {
  /* Explicação da recarga unico */

  width: 19.271vw;
  height: 2.222vw;
  left: 29.931vw;
  top: 20.069vw;
}

#subtitleduplo2 {
  /* Explicação da recarga duplo */

  width: 19.271vw;
  height: 2.222vw;
  left: 68.125vw;
  top: 20.069vw;
}

#subtitlesete2 {
  /* Explicação da recarga sete dias */

  width: 19.271vw;
  height: 2.222vw;
  left: 29.931vw;
  top: 34.479vw;
}

#subtitletrinta2 {
  /* Explicação da recarga trinta dias */

  width: 19.271vw;
  height: 2.222vw;
  left: 68.125vw;
  top: 34.479vw;
}

#referencia {
  /* Referência para como usar */

  position: absolute;
  width: 33.264vw;
  height: 1.042vw;
  left: 18.646vw;
  top: 43.229vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 0.833vw;
  line-height: 1.042vw;
  /* identico ao box height */

  color: #000000;
}

#divutilizar {
  /* Divisória tipos de recarga - utilização */

  left: 15.99vw;
  top: 44.74vw;

  border: 0.75px solid #000000;
}

.retbottom {
  /* Retângulo para os botões na parte de baixo da página */

  position: absolute;
  width: 17.448vw;
  height: 3.906vw;
  top: 46.354vw;

  background: #787e92;
  border-radius: 2.005vw;
}

#retutilizar {
  /* Retângulo para o botão utilização */

  left: 24.271vw;
}

#retrelatorio {
  /* Retângulo para o botão relatório */

  left: 57.812vw;
}

.buttonbottom {
  /* Botões na parte de baixo da página */

  position: absolute;
  height: 1.875vw;
  top: 0.99vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.562vw;
  line-height: 1.875vw;
  text-decoration: none;

  color: #ffffff;
}

#utilizar {
  /* Botão utilização */

  width: 10vw;
  left: 5vw;
}

#relatorio {
  /* Botão relatorio */

  width: 6.875vw;
  left: 5.521vw;
}

footer {
  /* Retângulo rodapé */

  position: absolute;
  width: 100%;
  height: 19.236vw;
  left: 0vw;
  top: 51.875vw;

  background: #2e3038;
}

#project {
  /* Projeto Integrador 2 */

  position: absolute;
  width: 27.361vw;
  height: 1.875vw;
  left: 4.583vw;
  top: 4.653vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.562vw;
  line-height: 1.875vw;

  color: #ffffff;
}

#members {
  /* Integrantes do grupo */

  position: absolute;
  width: 28.542vw;
  height: 9.375vw;
  left: 66.736vw;
  top: 4.653vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.562vw;
  line-height: 1.875vw;
  text-align: right;

  color: #ffffff;
}
