:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

#navmain {
  /* Barra de Navegação */

  position: absolute;
  width: 100%;
  height: 5.208vw;
  left: 0vw;
  top: 0vw;

  background: #2e3038;
}

#retlogo {
  /* Retângulo Logo */

  position: absolute;
  width: 22.76vw;
  height: 5.208vw;
  left: 4.583vw;
  top: 0vw;

  background: #b1b4be;
}

#imglogo {
  /* Logo */

  box-sizing: border-box;

  position: absolute;
  width: 20.703vw;
  height: 2.604vw;
  left: 0.99vw;
  top: 1.302vw;

  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

#comousar {
  /* Botão como usar */

  position: absolute;
  width: 8.333vw;
  height: 1.875vw;
  left: 32.76vw;
  top: 1.667vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.562vw;
  line-height: 1.875vw;
  text-decoration: none;

  color: #ffffff;
}

.divvertical {
  /* Divisórias verticais */

  position: absolute;
  width: 0.052vw;
  height: 3.177vw;

  background: #d9d9d9;
}

#divcomousar {
  /* Divisória Como Usar */

  left: 46.458vw;
  top: 1.042vw;
}

#titulo {
  /* Relatório de recargas */

  position: absolute;
  width: 19.514vw;
  height: 2.292vw;
  left: 40.208vw;
  top: 8.542vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.875vw;
  line-height: 2.292vw;

  color: #000000;
}

#linha {
  /* Line 7 */

  position: absolute;
  width: 41.667vw;
  height: 0vw;
  left: 29.167vw;
  top: 11.736vw;

  border: 0.75px solid #000000;
}

#bilhete {
  /* Bilhete único */

  position: absolute;
  width: 13.698vw;
  height: 2.083vw;
  left: 5.74vw;
  top: 14.552vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.083vw;
  line-height: 2.5vw;

  color: #2e3038;
}

#codigo {
  /* Código:  ##### */

  position: absolute;
  height: 2.083vw;
  left: 21.927vw;
  top: 14.552vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.083vw;
  line-height: 2.5vw;

  color: #2e3038;
}

#codigo_cod {
  /* Código:  ##### */

  position: absolute;
  width: 15.313vw;
  height: 2.083vw;
  left: 30.417vw;
  top: 14.552vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.083vw;
  line-height: 2.5vw;

  color: #2e3038;
}

#data {
  /* Data da geração do bilhete:  ##/##/## */

  position: absolute;
  width: 39.635vw;
  height: 2.083vw;
  left: 46.875vw;
  top: 14.552vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.083vw;
  line-height: 2.5vw;

  color: #2e3038;
}

#data_cod {
  /* Data da geração do bilhete:  ##/##/## */

  position: absolute;
  width: 39.635vw;
  height: 2.083vw;
  left: 75.306vw;
  top: 14.552vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.083vw;
  line-height: 2.5vw;

  color: #2e3038;
}

table {
  position: relative;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.083vw;
  line-height: 2.5vw;

  color: #2e3038;

  border: 1px solid white;
  width: 90.521vw;
  left: 4.583vw;
  top: 16.972vw;
}

thead {
  color: #ffffff;
  background-color: #000000;
}

tr:nth-child(even) {
  background-color: #a3a3a3;
}

footer {
  /* Retângulo rodapé */

  position: absolute;
  width: 100%;
  height: 19.236vw;
  left: 0vw;
  bottom: auto;
  margin-top: 700px;

  background: #2e3038;
}

#project {
  /* Projeto Integrador 2 */

  position: absolute;
  width: 27.361vw;
  height: 1.875vw;
  left: 4.583vw;
  top: 4.653vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.562vw;
  line-height: 1.875vw;

  color: #ffffff;
}

#members {
  /* Integrantes do grupo */

  position: absolute;
  width: 28.542vw;
  height: 9.375vw;
  left: 66.736vw;
  top: 4.653vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.562vw;
  line-height: 1.875vw;
  text-align: right;

  color: #ffffff;
}
